@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(138, 21, 0);
}

h1 {
    color: white;
    margin: 0;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

table td {
    padding: 5px;
}

table.measure td,
table.measure th {
    padding: 50px 50px;
    border-top: 5px solid rgb(138, 21, 0);
    border-bottom: 5px solid rgb(138, 21, 0);
}

input[type=range] {
    width: 200px;
}

input[type=number] {
    width: 50px;
    padding: 5px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 5px;
}

input.timerName {
    width: 150px;
    padding: 5px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 5px;
}

span.timerName {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

div,
th,
td {
    text-align: center;
}

h2 {
    padding: 20px 40px;
    color: white;
    background: linear-gradient(to right, rgb(138, 138, 138) 0%, rgb(53, 53, 53) 100%);
    border-top: 5px solid rgb(138, 21, 0);
    border-bottom: 5px solid rgb(138, 21, 0);
    font-style: italic;
}

h3 {
    border-bottom: 2px solid rgb(138, 21, 0);
    margin: 40px;
    margin-bottom: 0px;
}

button {
    padding: 20px 40px;
    font-size: larger;
    color: white;
    background: linear-gradient(to right, rgb(138, 138, 138) 0%, rgb(53, 53, 53) 100%);
    border: 5px solid silver;
    border-radius: 20px;
    border-color: rgb(100, 100, 100) rgb(22, 22, 22) rgb(22, 22, 22) rgb(100, 100, 100);
}

button#submit {
    padding: 10px 20px;
    background: none;
    border-color: rgb(76, 76, 76) rgb(22, 22, 22) rgb(22, 22, 22) rgb(76, 76, 76);
    background-color: rgb(100, 100, 100);
}

button#submit:disabled {
    padding: 10px 20px;
    background: none;
    color: rgba(255, 255, 255, 0.2);
    border-color: rgb(199, 199, 199) rgb(184, 184, 184) rgb(184, 184, 184) rgb(199, 199, 199);
    background-color: rgb(159, 159, 159);
}

button#getRecords {
    padding: 5px 10px;
    font-size: medium;
}

button#getRecords:disabled {
    color: rgba(255, 255, 255, 0.2);
}

div.measure {
    padding: 10px 10px;
    background-color: rgb(249, 146, 146);
    border: 2px solid silver;
    border-radius: 20px;
    margin: 30px;
}

a.measure {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

div.timerName {
    padding: 10px 10px;
}

button:active {
    /*background: linear-gradient(to right, rgba(96, 95, 95, 0.75) 0%, rgba(53, 53, 53, 0.75) 100%);*/
    border-color: rgb(22, 22, 22) rgb(100, 100, 100) rgb(100, 100, 100) rgb(22, 22, 22);
}

table#record td,
table#record th {
    padding: 10px;
    width: 75px;
    border: 2px solid rgb(96, 96, 96);
}

table#record th {
    background-color: rgb(204, 204, 204);
}

table#record td {
    padding: 5px;
}


button.disabled {
    font-weight: bold;
}

p.QRcode {
    text-align: center;
    text-decoration: underline;
    color: blue;
}

img {
    display: none;
}

img.QRcode {
    display: block;
    position: absolute;
    top: 10vh;
    left: calc(50vw - 145px);
    border: 5px solid silver;
}

footer {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: azure;
    padding: 20px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 780px) {

    table.measure td,
    table.measure th {
        padding: 20px 20px;
        border-top: 5px solid rgb(138, 21, 0);
        border-bottom: 5px solid rgb(138, 21, 0);
    }
}