@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(138, 21, 0);
}

h1 {
    color: white;
    margin: 0;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

table td {
    padding: 5px;
}

input[type=range] {
    width: 200px;
}

input[type=number] {
    width: 50px;
    padding: 5px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 5px;
}

div,
th,
td {
    text-align: center;
}

h2 {
    padding: 20px 40px;
    color: white;
    background: linear-gradient(to right, rgb(138, 138, 138) 0%, rgb(53, 53, 53) 100%);
    border-top: 5px solid rgb(138, 21, 0);
    border-bottom: 5px solid rgb(138, 21, 0);
    font-style: italic;
}

h3 {
    border-bottom: 2px solid rgb(138, 21, 0);
    margin: 40px;
    margin-bottom: 0px;
}

button#start, button#finish {
    padding: 20px 50px;
    font-size: larger;
    color: white;
    background: linear-gradient(to right, rgb(138, 138, 138) 0%, rgb(53, 53, 53) 100%);
    border: 5px solid silver;
    border-radius: 20px;
    border-color: rgb(100, 100, 100) rgb(22, 22, 22) rgb(22, 22, 22) rgb(100, 100, 100);
}

button#submit {
    padding: 10px 20px;
    border-color: rgb(76, 76, 76) rgb(22, 22, 22) rgb(22, 22, 22) rgb(76, 76, 76);
    background-color: rgb(100, 100, 100);
}

button#submit:disabled {
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.2);
    border-color: rgb(199, 199, 199) rgb(184, 184, 184) rgb(184, 184, 184) rgb(199, 199, 199);
    background-color: rgb(159, 159, 159);
}

button#getRecords {
    color: white;
    padding: 5px 20px;
    font-size: medium;
    border-radius: 10px;
    border-color: rgb(76, 76, 76);
    background-color: rgb(100, 100, 100);
}

button#getRecords:disabled {
    color: rgba(255, 255, 255, 0.2);
}

button:active {
    /*background: linear-gradient(to right, rgba(96, 95, 95, 0.75) 0%, rgba(53, 53, 53, 0.75) 100%);*/
    border-color: rgb(22, 22, 22) rgb(100, 100, 100) rgb(100, 100, 100) rgb(22, 22, 22);
}

button.disabled {
    font-weight: bold;
}

section.setting {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.offers div {
    padding: 20px 20px;
    background-color: rgb(146, 221, 249);
    border-top: 5px solid silver;
    border-right: 5px solid rgb(100, 100, 100);
    border-bottom: 5px solid rgb(100, 100, 100);
    border-left: 5px solid silver;
    border-radius: 0px;
    width: 8em;
    margin: 5px;
    display: inline-block;
    transition: 0.5s;
}

div.offers div.active {
    color: white;
    background-color: rgb(58, 139, 252);
    border-top: 5px solid rgb(100, 100, 100);
    border-right: 5px solid silver;
    border-bottom: 5px solid silver;
    border-left: 5px solid rgb(100, 100, 100);
}

div.offers div:not([active]):hover {
    background-color: rgb(100, 165, 255);
}

div.measure {
    margin: 20px;
    padding: 20px 20px;
    background-color: rgb(249, 146, 146);
    border: 2px solid silver;
    border-radius: 20px;
    display: inline-block;
}

input.timerName {
    width: 150px;
    padding: 5px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 5px;
}

span.timerName {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

table#record td,
table#record th {
    padding: 10px;
    width: 75px;
    border: 2px solid rgb(96, 96, 96);
}

table#record th {
    background-color: rgb(204, 204, 204);
}

table#record td {
    padding: 5px;
}

p.QRcode {
    text-align: center;
    text-decoration: underline;
    color: blue;
}

img {
    display: none;
}

img.QRcode {
    display: block;
    position: fixed;
    top: 10vh;
    left: calc(50vw - 145px);
    border: 5px solid silver;
}

footer {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: azure;
    padding: 20px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 780px) {
    div.offers div {
        padding: 10px 20px;
        border-width: 3px;
        width: auto;
        margin: 5px;
    }

    div.offers div.no-measure {
        width: 70%;
    }

    div.offers div.active {
        color: white;
        background-color: rgb(58, 139, 252);
        border-top: 3px solid rgb(100, 100, 100);
        border-right: 3px solid silver;
        border-bottom: 3px solid silver;
        border-left: 3px solid rgb(100, 100, 100);
    }

    input.timerName {
        width: 30%;
    }
}